<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Where Is My Mind?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <nav class="navbar navbar-light navbar-toggleable-md bg-faded card-2">
        <a class="navbar-brand" href="#">
            <img src="/Content/Images/pixie.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Where Is My Mind?
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analysis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/?filename=working">Working</a>
                        <a class="dropdown-item" href="/?filename=alice">Alice In Wonderland</a>
                        <a class="dropdown-item" href="/?filename=moby">Moby Dick</a>
                        <a class="dropdown-item" href="/?filename=grimm">Brothers Grimm</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AddFeedback">Add Feedback</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div>
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", false)
</body>
</html>
