
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Site.css"/>
</head>
<body>
    <div>
        <h1>Not snooping on employees application</h1>
    
        <canvas id="heatmap-canvas" width="700" height="600"></canvas>
    </div>
    
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/simpleheat.js"></script>
    <script src="~/Scripts/HeatMap.js"></script>
</body>
</html>
