@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/Site.css"/>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">
            <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
        </a>
    </nav>
    <div>
        <h1>Application title</h1>
    </div>
    <div>
        <div class="main-container">
            <div class="heatmap-container">
                <canvas id="heatmap-canvas" width="600" height="600"></canvas>
                <div class="overlay">
                    <img src="~/Content/Images/valencearousal_overlay.png" width="700" height="650"/>
                </div>
            </div>

            <div class="settings">
                <h2>Heatmap Settings</h2>

                <table>
                    <tr>
                        <td>Scale</td>
                        <td>
                            <input id="range-scale" type="range" value="10" min="5" max="50" step="5"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Intensity</td>
                        <td>
                            <input id="range-intensity" type="range" value="20" min="10" max="150" step="1"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Blur</td>
                        <td>
                            <input id="range-blur" type="range" value="20" min="2" max="100" step="1"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Overlay</td>
                        <td>
                            <input id="check-overlay" type="checkbox" checked/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/d3/d3.min.js"></script>
<script src="~/Scripts/d3/d3.layout.cloud.js"></script>
<script src="~/Scripts/simpleheat.js"></script>
<script src="~/Scripts/HeatMap.js"></script>
<script src="~/Scripts/d3.wordcloud.js"></script>
</body>
</html>
