@font-face {
    font-family: caviardreams_reg;
    src: url('/Content/Fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: caviardreams_bold;
    src: url('/Content/Fonts/CaviarDreams.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'caviardreams_reg';
    background-color: #efefef;
    color: #222;
}

.content {
    margin: 0 40px;
}

.content h1 {
    font-family: 'caviardreams_bold';
}

.heatmap-container {
    position: relative;
    background-color: #fff;
    border: 1px solid #807b7b;
    border-radius: 5px;
}

#heatmap-canvas {
    position: absolute;
    top: 25px;
    left: 65px;
    width: 582px;
    height: 597px;
}

.main-container {
    display: flex;
    flex-flow: revert;
    flex-grow: 1;
}

input[type=range] {
    width: 100%;
}

.settings {
    padding: 0 24px;
    min-width: 200px;
    min-width: 550px;
}

.settings table {
    border-spacing: 0 7px;
    width: 100%;
}

.settings table td {
    background-color: #fbfbfb;
    padding: 15px 9px;
}

.settings table td:first-child {
    border-radius: 5px 0 0 5px;
}

.settings table td:last-child {
    border-radius: 0 5px 5px 0;
}